/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

/* set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Typography          */
/* ------------------- */

:root {
    /* Base font sizes for mobile */
    --fs-xs: 0.875rem; /* small warnings/notes */
    --fs-300: 1rem;    /* smaller text */
    --fs-400: 1.125rem; /* normal paragraphs */
    --fs-500: 1.25rem;  /* paragraph titles */
    --fs-xl: 2rem;      /* large headlines */
}
  
  /* Tablet */
  @media (min-width: 768px) {
    :root {
        --fs-xs: 1rem;
        --fs-300: 1.125rem;
        --fs-400: 1.25rem;
        --fs-500: 1.5rem;
        --fs-xl: 2.5rem;
    }
}
  
  /* Desktop */
  @media (min-width: 1024px) {
    :root {
        --fs-xs: 1.125rem;
        --fs-300: 1.25rem;
        --fs-400: 1.5rem;
        --fs-500: 1.75rem;
        --fs-xl: 3rem;
    }
}

/* ------------------- */
/* Styles              */
/* ------------------- */

:root {
    --clr-white: #a1a1a1;
    --clr-gray: #a1a1a166;
}

.bg-white{background-color: var(--clr-white);}
.bg-gray{background-color: var(--clr-gray);}

.text-white{color: var(--clr-white);}
.text-gray{color: var(--clr-gray);}

body {
    background-color: black;
    color: var(--clr-white);
    font-family: monospace;
    font-size: 1.1rem;
}

button {
    border: 1px solid #a1a1a166;
    background-color: transparent;
    padding: .2rem .4rem;
    color: #a1a1a1;
    transition: all 50ms ease-in-out;
    cursor: pointer;
}

button:hover, input[type="text"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="email"]:hover {
    border-color: white;
    color: white;
}

button:active {
    background-color: white;
    color: black;
}

a {
    color: #a1a1a1;
}

a:hover {
    color: white;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    /* width: 15rem; */
    margin-block: 1rem;

}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #757575;
    height: 0.5rem;
    border-radius: .2rem;
}

input[type="range"]::-moz-range-track {
    background-color: #757575;
    height: 0.5rem;
    border-radius: .2rem;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -12px;
    background-color: #FFFFFF;
    height: 2rem;
    width: 1rem;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: #FFFFFF;
    height: 2rem;
    width: 1rem;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"] {
    background-color: black;
    border: 1px solid #a1a1a166;
    color: #a1a1a1;
    width: 100%;
}